/*page decoration*/
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000000;
    width: 100%;
    height: 100%;
    background-color: #EAECEE;
}
h1,h2,h3,h4,h5,h6,span,p,ul,li,
table,tr,td,input,a,dl,dt,dd {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px;
}
/*TOP of the page*/
.logo {
    overflow: hidden;
    background-color: #B3C8C8;
}
.logo a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25px;
}
.logo a:hover {
    background-color: #ddd;
    color: #f2f2f2;
}
.language, .language a {
    text-decoration: none;
    font-size: 1.7vw;
    text-align: center;
    color: #2b82df;
}
.language a:hover{
    color: #5D6D7E;
    background-color: #B3C8C8;
}
/*MIDDLE of the page*/
.banner{
    background-color: #caccce;
    color: #5D6D7E;
    width: 100%; 
}
.window{
    font-size: 1.5vw;
    text-align: center;
}
#img_conv,#vid_conv {
    text-decoration: none;
    color: #5D6D7E;
}
#vid_conv:hover,#img_conv:hover{
    color: #5D6D7E;
    background-color: #EAECEE;
}
.icIC {
    background-color: #EAECEE;
}
.vcVC {
    background-color: #EAECEE;
}
.window p {
    color: greenyellow;
    background-color: black;
}
.banner-content{
    text-align:center;
    font-size: 20px;
    padding: 100px;
}
#files {
    display: none;
    visibility: hidden;
}
img {
    vertical-align: top;
    border: none
}
.img_box {
    text-align: center;
}
#can {
    display: none;
}
select {
    height: 35px;
    font-size: 14px;
    background-color: #E8FCFC;
    border: 1px solid #29EAEA;
    padding: 0 10px;

}
.options {
    font-size: 1.5vw;
    text-align: center;
    background-color: #EBEEEE;
}
.download_Btn{
  color: black;
  font-size: 30px;
  padding: 15px 30px;
  margin: 10px auto;
    display:block;

}
#dropbox:hover{
    opacity: 0.8;
}
.drag {
    width: 50%;
    padding: 9% 0;
    background-color: #FFFAF5;
    border: 8px ridge rgb(0, 0, 0, .3);
    border-radius: 77px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.cubetext {
    font-size: 10vw;
    line-height: 100px;
    height: 100px;
    font-family: monospace;
    opacity: 0.2;
}
.cubetext1 {
    font-size: 3vw;
    line-height: 100px;
    height: 100px;
    font-weight: 500;
    opacity: 0.4;
}
.cubetext2 {
    font-size: 1.7vw;
    opacity: 0.5;
}
/*BOTTOM of the page*/
.footer {
    padding: 10px 0 30px 0;
    font-size: 12px;
    padding: 0 4% 30px 4%;
    opacity: .7;
    display: flex;
    flex-direction: column;
    }
.footer, .footer div, .footer div a{
    justify-content: center;
    align-items: center;
    font-size:15px;
    color: #566573;
    font-weight: 10;
}
.footer div a:hover{
    text-decoration: underline;
    color: #000;
}